.container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hair {
  width: 100px;
  height: 100px;
  position: absolute;
  left: calc(50% - 40px);
  background-color: saddlesaddlebrown;
  border-radius: 70px 70px;
  /* animation: rotation 1s ease-in-out infinite alternate; */
}

.face {
  width: 180px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 10px;
  background-color: peachpuff;
  border-radius: 70px 70px;
}

.hairL1 {
  width: 50px;
  height: 110px;
  position: absolute;
  top: 0px;
  left: -20px;
  background-color: saddlebrown;
  border-radius: 110px 10px 20px 120px;
  transform: rotate(45deg);
}

.hairL2 {
  width: 30px;
  height: 110px;
  position: absolute;
  top: 25px;
  left: -40px;
  background-color: saddlebrown;
  border-radius: 110px 10px 20px 120px;
  transform: rotate(30deg);
}

.hairL3 {
  width: 130px;
  height: 180px;
  position: absolute;
  top: 35px;
  left: -45px;
  background-color: saddlebrown;
  border-radius: 110px 10px 20px 120px;
  transform: rotate(20deg);
}
.hairL4 {
  width: 50px;
  height: 140px;
  position: absolute;
  top: -55px;
  left: -5px;
  background-color: saddlebrown;
  border-radius: 110px 10px 20px 120px;
  transform: rotate(45deg);
}

.hairL5 {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 25px;
  left: -30px;
  background-color: saddlebrown;
  border-radius: 210px 110px 120px 120px;
  transform: rotate(25deg);
}

.earLHair {
  width: 15px;
  height: 35px;
  position: absolute;
  top: 65px;
  left: -10px;
  background-color: saddlebrown;
  border-radius: 00px 50px 0px 50px;
  transform: rotate(25deg);
}

.earRHair {
  width: 15px;
  height: 35px;
  position: absolute;
  top: 65px;
  left: 200px;
  background-color: saddlebrown;
  border-radius: 50px 0px 50px 0px;
  transform: rotate(-30deg);
}

.hairR1 {
  width: 50px;
  height: 110px;
  position: absolute;
  top: 0px;
  left: 170px;
  background-color: saddlebrown;
  border-radius: 10px 110px 120px 20px;
  transform: rotate(-45deg);
}

.hairR2 {
  width: 30px;
  height: 110px;
  position: absolute;
  top: 25px;
  left: 205px;
  background-color: saddlebrown;
  border-radius: 10px 110px 120px 20px;
  transform: rotate(-30deg);
}

.hairR3 {
  width: 130px;
  height: 180px;
  position: absolute;
  top: 35px;
  left: 115px;
  background-color: saddlebrown;
  border-radius: 10px 110px 120px 20px;
  transform: rotate(-20deg);
}
.hairR4 {
  width: 50px;
  height: 140px;
  position: absolute;
  top: -55px;
  left: 155px;
  background-color: saddlebrown;
  border-radius: 10px 110px 120px 20px;
  transform: rotate(-45deg);
}
.hairR5 {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 25px;
  left: 175px;
  background-color: saddlebrown;
  border-radius: 210px 110px 120px 120px;
  transform: rotate(-25deg);
}

.hairLTop {
  width: 100px;
  height: 80px;
  position: absolute;
  top: -30px;
  left: 0px;
  background-color: saddlebrown;
  border-radius: 30px 30px 20px 20px;
  transform: rotate(-20deg);
}
.hairRTop {
  width: 100px;
  height: 80px;
  position: absolute;
  top: -30px;
  left: 100px;
  background-color: saddlebrown;
  border-radius: 30px 30px 20px 20px;
  transform: rotate(20deg);
}

.hairTop {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -45px;
  left: 60px;
  background-color: saddlebrown;
  border-radius: 110px 100px 0px 100px;
  transform: rotate(0deg);
}

.eyebrowL {
  width: 50px;
  height: 8px;
  position: absolute;
  top: 60px;
  left: 30px;
  background-color: rgb(165, 86, 29);
  border-radius: 150% 150% 90% 90% / 90% 90% 160% 160%;
  transform: rotate(180deg) skew(5deg, -5deg);
}

.eyebrowR {
  width: 50px;
  height: 8px;
  position: absolute;
  top: 60px;
  left: 120px;
  background-color: rgb(165, 86, 29);
  border-radius: 150% 150% 90% 90% / 90% 90% 160% 160%;
  transform: rotate(180deg) skew(-5deg, 5deg);
}

.mouth {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 150px;
  left: 75px;
  background-color: pink;
  border-radius: 10px 10px 50px 50px;
}

.mouthIn {
  width: 50px;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 5px;
  background-color: darkred;
  border-radius: 10px 10px 50px 50px;
  overflow: hidden;
}

.tooth {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 0px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}

.tooth1 {
  width: 8px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 7px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}
.tooth2 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 16px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}
.tooth3 {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 27px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}

.tooth4 {
  width: 8px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 38px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}
.tooth5 {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 1px;
  left: 47px;
  background-color: white;
  border-radius: 10px 10px 20px 20px;
}

.cheekL {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 105px;
  left: 20px;
  background-color: pink;
  border-radius: 50%;
  opacity: 40%;
}
.cheekR {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 105px;
  left: 150px;
  background-color: pink;
  border-radius: 50%;
  opacity: 40%;
}
.beardL {
  width: 90px;
  height: 40px;
  position: absolute;
  top: 160px;
  left: 0px;
  background-color: rgb(73, 39, 29);
  border-radius: 5px 20px 30px 30px;
  transform: rotate(20deg) skew(15deg, 15deg);
}
.beardR {
  width: 90px;
  height: 40px;
  position: absolute;
  top: 160px;
  left: 110px;
  background-color: rgb(73, 39, 29);
  border-radius: 20px 5px 30px 30px;
  transform: rotate(-20deg) skew(-15deg, -15deg);
}
.beardbtm {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 145px;
  left: 53px;
  background-color: rgb(73, 39, 29);
  border-radius: 20px 20px 30px 30px;
}

.beardchin {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 150px;
  left: 75px;
  background-color: peachpuff;
  border-radius: 20px 20px 30px 30px;
}

.moustache {
  width: 80px;
  height: 20px;
  position: absolute;
  top: 135px;
  left: 65px;
  background-color: rgb(73, 39, 29);
  border-radius: 50% 50% 50% 50% / 40% 40% 40% 40%;
}

.nose {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 115px;
  left: 95px;
  background-color: peachpuff;
  border-radius: 50%;
}

.noseHL {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: peachpuff;
  border-radius: 50%;
}
.noseMid {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  left: 0px;
  background-color: darksalmon;
  border-radius: 50%;
}
.noseMidShine {
  width: 10px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: 8px;
  background-color: white;
  border-radius: 50%;
  opacity: 50%;
}
.noseShine {
  width: 10px;
  height: 35px;
  position: absolute;
  top: -30px;
  left: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 50%;
}

.noseL {
  width: 15px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: -10px;
  background-color: darksalmon;
  border-radius: 50%;
  transform: rotate(20deg);
}
.noseLHL {
  width: 16px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: -9px;
  background-color: peachpuff;
  border-radius: 50%;
  transform: rotate(20deg);
}

.noseLShine {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: -8px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(20deg);
  opacity: 50%;
}

.noseRHL {
  width: 16px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: 14px;
  background-color: peachpuff;
  border-radius: 50%;
  transform: rotate(-20deg);
}

.noseRShine {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 23px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(-20deg);
  opacity: 50%;
}

.noseR {
  width: 15px;
  height: 10px;
  position: absolute;
  top: 8px;
  left: 15px;
  background-color: darksalmon;
  border-radius: 50%;
  transform: rotate(-20deg);
}

.noseRNos {
  width: 6px;
  height: 2px;
  position: absolute;
  top: 17px;
  left: 18px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(-18deg);
}
.noseLNos {
  width: 6px;
  height: 2px;
  position: absolute;
  top: 17px;
  left: -3px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(18deg);
}

.eyeL {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 75px;
  left: 30px;
  background-color: white;
  border-radius: 240% 360% 240% 320% / 300% 300% 290% 290%;
  overflow: hidden;
}

.eyeLBlue {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -1px;
  left: 20px;
  background-color: lightskyblue;
  border-radius: 50%;
}
.eyeLPu {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 28px;
  background-color: black;
  border-radius: 50%;
}

.eyeLGlint {
  width: 6px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 28px;
  background-color: white;
  opacity: 60%;
  border-radius: 50%;
}
/*
.eyeLLid {
  width: 40px;
  height: 10px;
  position: absolute;
  top: -2px;
  left: -7px;
  background-color: peachpuff;
  border-radius: 50%;
}
 */
.eyeLLower {
  width: 40px;
  height: 10px;
  position: absolute;
  top: 27px;
  left: 4px;
  background-color: peachpuff;
  border-radius: 50%;
}

.eyeR {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 75px;
  left: 120px;
  background-color: white;
  border-radius: 50%;
  border-radius: 340% 320% 290% 290% / 320% 360% 300% 290%;
  overflow: hidden;
}

.eyeRBlink {
  width: 50px;
  height: 15px;
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: peachpuff;
  border-radius: 50%;
  border-radius: 340% 320% 290% 290% / 320% 360% 300% 290%;
  animation: blink 4s 2s infinite linear;
}

.eyeRLid {
  width: 50px;
  height: 40px;
  position: absolute;
  top: -45px;
  left: 0px;
  background-color: peachpuff;
  border-radius: 10px 0px 0px 0px;
  animation: blinkLid 4s 2s infinite linear;
}

.eyeRLower {
  width: 40px;
  height: 10px;
  position: absolute;
  top: 27px;
  left: 4px;
  background-color: peachpuff;
  border-radius: 50%;
}

.eyeRBlue {
  width: 26px;
  height: 26px;
  position: absolute;
  top: -1px;
  left: 20px;
  background-color: lightskyblue;
  border-radius: 50%;
}

.eyeRPu {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: 28px;
  background-color: black;
  border-radius: 50%;
}

.eyeRGlint {
  width: 6px;
  height: 4px;
  position: absolute;
  top: 10px;
  left: 28px;
  background-color: white;
  opacity: 60%;
  border-radius: 50%;
}

.earL {
  width: 20px;
  height: 35px;
  position: absolute;
  top: 80px;
  left: -20px;
  background-color: peachpuff;
  border-radius: 50px 0px 0px 50px;
}

.earR {
  width: 20px;
  height: 35px;
  position: absolute;
  top: 80px;
  left: 200px;
  background-color: peachpuff;
  border-radius: 0px 50px 50px 0px;
}

.earringRRound {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 0px;
  background-color: red;
  border-radius: 50%;
}
.earringLRound {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 45px;
  left: 0px;
  background-color: red;
  border-radius: 50%;
}
.earringRString {
  width: 3px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 8px;
  background-color: grey;
  border-radius: 50%;
}

.earringLString {
  width: 3px;
  height: 20px;
  position: absolute;
  top: 30px;
  left: 8px;
  background-color: grey;
  border-radius: 50%;
}

.earring {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: swing 2s ease-in-out infinite alternate;
}
.earringL {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: swingL 2s ease-in-out infinite alternate;
}

@keyframes rotation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes swing {
  20% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingL {
  20% {
    transform: rotate(-7deg);
  }
  40% {
    transform: rotate(7deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink {
  0% {
    top: 45px;
  }
  20% {
    top: 15px;
  }

  40% {
    top: 45px;
  }

  100% {
    top: 45px;
  }
}

@keyframes blinkLid {
  0% {
    top: -45px;
  }
  20% {
    top: 0px;
  }

  40% {
    top: -45px;
  }

  100% {
    top: -45px;
  }
}
